<!DOCTYPE html>
<body>
<% if user_signed_in? %>
<h1> You In!</h1>
<% else %>

<div class="container">
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <img src="http://www.waouo.com/wp-content/uploads/2011/02/volkswagendarkvador.jpg" alt>
        <div class="container">
          <div class="carousel-caption">
            <h1> Welcome to Addios.</h1>
            <p class="lead"> here you will find the best advertisement videos from all over the world! </p>
            <a class="btn btn-large btn-primary" href="#"> Start exploring</a>
          </div>
    </div>
 </div>
    <div class="item">
      <img src="http://www.examiner.com/images/blog/replicate/EXID26253/images/Old_Spice.jpg" alt> 
      <div class="container">
          <div class="carousel-caption">
            <h1> Welcome to Addios.</h1>
            <p class="lead"> here you will find the best advertisement videos from all over the world! </p>
            <a class="btn btn-large btn-primary" href="#"> Start exploring</a>
                  </div>
            </div>
       </div>
    <div class="item">
          <img src="http://starzday.com/wp-content/uploads/2012/02/Kate0510.jpg" alt>
         <div class="container">
          <div class="carousel-caption">
            <h1> Welcome to Addios.</h1>
            <p class="lead"> here you will find the best advertisement videos from all over the world! </p>
            <a class="btn btn-large btn-primary" href="#"> Start exploring</a>
          </div>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a></div>



<!--rows of columns -->
<div class="Container marketing">
  <div class="row">
<div class="span4">
  <h2> Explore </h2>
  <p>Explore and Find the best advertisement videos on the web from all over the world</p>
  <p> <a class="btn" href="#"> View Details </a>
      </p>
    </div>

    <div class="span4">
    <h2> upload </h2>
  <p>Multiple ways to upload your videos</p>
  <p> <a class="btn" href="#"> View Details </a> 
      </p>
    </div>

    <div class="span4">
   <h2> Share </h2>
  <p>
 Once on Addios, then easily and safely share them through Facebook, Twitter, email, blogs and on your phone.</p>
  <p> <a class="btn" href="#"> View Details </a>
  </p>
  </div>
</div>
</div>
</div>
<% end %>
</body>
<!-- bootstap codes -->
 <script src="http://Twitter.github.com/bootstap/examples/../assets/js/jquery.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-transition.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-alert.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples//assets/js/bootstrap-modal.js"></script>
    
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-scrollspy.js"> </script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-tab.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-tooltip.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-popover.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-button.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-collapse.js"></script>
    <script src="http://twitter.github.com/bootstrap/examples/../assets/js/bootstrap-carousel.js"></script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/bootstrap-
    typeahead.js"></script>
    <script>
      !function ($) {
        $(function(){
          // carousel demo
          $('#myCarousel').carousel()
        })
      }(window.jQuery)
    </script>
    <script src="http://Twitter.github.com/bootstap/examples/../assets/js/holder/holder.js"></script>