<div class="footer">
      		<small>
<%=link_to "One month rails","http://onemonthrails.com" %> By <%= link_to "Nattan Griffel" , "http://Mattangriffel.com" %>
<li> <%= link_to 'About',  about_path %> </li>
</small>
</div>
</ul>